* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: #eee;
  flex-direction: column;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #eee;
}

/* @media only screen and (min-width: 1024px) {
  {
    display: none;
  }
*/
  /* Navbar Section */

.nav-top {
  width: 100%;
  flex-direction: column;
}

.nav-top-links {
  justify-content: space-between;
  background-color: #000;
  height: 40px;
  align-items: center;
  padding: 0 12px;
}

.nav-top-link {
  margin: 0 20px 0 5px;
}

.nav-bottom-links {
  background-color: #eee;
  height: 40px; 
  justify-content: left;
  align-items: center;
  padding: 0 12px;
}

.nav-bottom-links a {
  color: #888;
}

.nav-fixed {
  background-color: #eee; /*No working on the page */
  position: sticky;
  top: 0;
  z-index: 50;
}

.search-logo {
  float: right;
  margin: -30px 15px auto 0;
  color: #888;
}

.articles {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.coverLeft {
  background-image: url(../images/article-1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%; 
  height: 550px;
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 0 0 0 15px;
}

.article-1 {
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 20px;
}

.coverRight-1 {
  background-image: url(../images/article-2-bg.jpg);
  background-size: cover;
  max-width: 90%;
  grid-column: 3/4;
  grid-row: 1/2;
  height: 260px;
}

.coverRight-2 {
  background-image: url(../images/article-3-bg.png);
  background-size: cover;
  max-width: 90%;
  grid-column: 3/4;
  grid-row: 2/3;
  height: 260px;
}